<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>A virus has to use the cell&apos;s machinery and RNA is turned to proteins, but to use that machinery, what does it do?</string>
		</dict>
	</array>
</dict>
</plist>
